.contain{
    margin-top: 100px;
}

.items{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.items .item.done{
    text-decoration: line-through;
}

.items li,
.item-add .input{
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.item{
    margin-right: 20px;
    font-size: 18px;
}


